<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean name="helloService" class="cn.titan.test.service.HelloService">
        <property name="name" value="titan"/>
        <property name="text" value="Hello World!"/>
        <property name="service" ref="worldService"/>
    </bean>

    <bean name="worldService" class="cn.titan.test.service.WorldService">
        <property name="name" value="张三"/>
        <property name="text" value="你好"/>
        <property name="service" ref="helloService"/>
    </bean>
</beans>